.insight-modal-header {
    display: none;
}

.insight-steps-divider {
    min-width: 30px !important;
    max-width: 50px !important;
}

.insight-builder-footer {
    width: 100%;
}

.insight-dialog {
    z-index: 20000;
}

.insight-list {
    max-height: 150px;
}

.insight-list-item {
    height: auto !important;
}

.insight-select-text {
    text-decoration: underline;
}