@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

html, body {
    margin: 0;
}

#floating-icon-container {
    position: fixed;
    inset-inline-end: 48px;
    inset-block-end: 24px;
    display: inline-flex;
    column-gap: var(--spacing-small);
}

.floating-icon:hover {
    box-shadow: var(--box-shadow-small);
}

.result-page {
    margin: 50px auto;
}